<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="cn.qsky.entity.User">
    <result column="uid" jdbcType="VARCHAR" property="id"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="age" jdbcType="INTEGER" property="passWord"/>
    <result column="register-time" jdbcType="TIMESTAMP" property="registerTime"/>
  </resultMap>

  <select id="getUserByUid" resultType="cn.qsky.entity.User">
        select * from user where uid = #{uid}
    </select>

</mapper>